body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
}

.nav-bar {
    padding-right: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    margin: 15px 15px;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2a4d32;
}

a:active {
    color: #2a4d32;
}

.logo {
    padding-left: 50px;
    height: 80px;
    margin-bottom: 20px;
}

.main {
    padding-top: 200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: #74fdfb;
}

.main-info p {
    margin: 30px 0 0 50px;
}

.avatar {
    width: 600px;
    height: 500px;

}

.avatar img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.my-photo {
    margin: 30px 0 0 50px;
    width: 250px;
    height: 250px;
}

p {
    width: 300px;
    color: white;
    display: inline-block;
}

.about-me-button {
    font-size: 25px;
    color: cadetblue;
}


.about-section {
    height: 300vh;
    background-color: #dddddd;
}

.about-me:hover {
    color: rgb(109, 236, 241);
}

footer {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: aquamarine;
    margin-top: 70px;
    justify-content: center;
}